<!-- ============ -->
<!--  Main Logic  -->
<!-- ============ -->

<!--  Titulos  -->
<h1>{{title}}</h1>
<h2>{{subTitle}}</h2>
  
<!--  Tarjeta usando el *ngFor  -->
<!--  ========================  -->

<!--  <app-tarjeta *ngFor="let persona of personas"
   [nombre]="persona.nombre"
   [titulo]="persona.titulo"
   [bio]="persona.bio"
 ></app-tarjeta>  -->
 
 <!--  Tarjeta usando el *ngSwitch  -->
 <!--  ===========================  -->

 <!-- <app-tarjetaswitch *ngFor="let persona of personas"
 [nombre]="persona.nombre"
 [titulo]="persona.titulo"
 [bio]="persona.bio"
></app-tarjetaswitch> -->


 <!--        Listado-Personas       -->
 <!--  ===========================  -->

 <app-listado-personas></app-listado-personas> 